.productos .card{ border-radius:15px; overflow: hidden; }
.productos .card input[type="checkbox"]{ margin:auto; display: inherit; }
 /*Menu*/
[class*=sidebar-dark-] {                               
    background-color: #882525;
}
/*carga de nuevo usuario*/
.card-primary:not(.card-outline)>.card-header {
    background-color: #882525;
}
/*header*/
.navbar-light {
    background-color: #882525;
}
/*footer*/
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #E3E3E3;
    border-top: 0 solid rgba(0,0,0,.125);
}
/*boton activar*/
.btn-primary {
    color: #fff;
    background-color: #6a0d0d;
    border-color: #6a0d0d;
    box-shadow: none;
}
/*boton on*/
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #bd2130;
    color: #fff;
}
/*hover activar hover*/
.btn-primary:hover {
    color: #fff;
    background-color: #441014;
    border-color: #441014;
}
/*boton total pedidos*/
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    box-shadow: none;
}
/*hover total pedidos*/
.btn-info:hover,
.btn-info:not(:disabled):not(.disabled).active, 
.btn-info:not(:disabled):not(.disabled):active, 
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color:#9d4b2e ;
    border-color: #9d4b2e;
}
/*boton carga de pedidos*/
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    box-shadow: none;
}
/*hover carga pedidos*/
.btn-success:hover,
.btn-success:not(:disabled):not(.disabled).active, 
.btn-success:not(:disabled):not(.disabled):active, 
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #761717;
    border-color: #761717;
}
/*boton listado*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #6a0d0d;
}
/*listado hover*/
.nav-pills .nav-link:not(.active):hover {
    color: rgb(67, 65, 65);
    }
/*boton pendientes*/
.btn-warning {
    color: #1f2d3d;
    background-color: #ffc107ce;
    border-color: #ffc107ce;
    box-shadow: none;
}
/*el 1*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6a0d0d;
    border-color: #6a0d0d;
}
/*la barrita que se oscurece*/
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active { 
    background-color: #380606;
    color: #fff;
}
/*letra Proyecto*/
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
[class*=sidebar-dark-] .sidebar a {
    color: rgb(255, 255, 255);
}
/*fondo usuarios*/
body {
    margin: 0;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: rgb(128, 126, 126);
}
/*letra usuario chico*/
a {
    color: #260101;
    text-decoration: none;
    background-color: transparent;
}
/*click agregar*/
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #380606;
    border-color: #380606;
}

/*LOGIN/RECUPERAR/CREAR*/

/*fondo del login*/
.login-page, .register-page{
    background-image: linear-gradient(32deg, rgba(49, 49, 49, 0.04) 0%, rgba(49, 49, 49, 0.04) 75%,rgba(225, 225, 225, 0.04) 75%, rgba(225, 225, 225, 0.04) 100%),linear-gradient(131deg, rgba(241, 241, 241, 0.04) 0%, rgba(241, 241, 241, 0.04) 73%,rgba(224, 224, 224, 0.04) 73%, rgba(224, 224, 224, 0.04) 100%),linear-gradient(274deg, rgba(106, 106, 106, 0.04) 0%, rgba(106, 106, 106, 0.04) 63%,rgba(250, 250, 250, 0.04) 63%, rgba(250, 250, 250, 0.04) 100%),linear-gradient(121deg, rgba(127, 127, 127, 0.04) 0%, rgba(127, 127, 127, 0.04) 43%,rgba(228, 228, 228, 0.04) 43%, rgba(228, 228, 228, 0.04) 100%),linear-gradient(90deg, #882525, #882525);
}
/*Proyecto login*/
.login-logo a, .register-logo a {
    color: #ffffff;
}
/*color olvide mi cotraseña y quiero registrarme*/
a {
    color: #960000;
    text-decoration: none;
    background-color: transparent;
}
/*hover olvide mi cotraseña y quiero registrarme*/
a:hover {
    color: #272424;
    text-decoration: none;
}
/*iniciar sesión*/
.login-box-msg{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
/*color de caja de registro*/
.login-card-body, .register-card-body {
    background: #ffffff;
    border-top: 0;
    color: #666;
    padding: 20px;
    border-radius: none;
}
/*letra de recordar mis credenciales*/
.label-recordar-credenciales {
    color: #151414;
    font-size: 14px;
}
/*fondo checkbox*/
.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before {
    background-color: #960000;
    border-color: #960000;
    }
/*hover checkbox*/
.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before, .icheck-primary>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: #6a0d0d;
}
/*borde checkbox*/
[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before {
content: "";
display: inline-block;
position: absolute;
width: 22px;
height: 22px;
border: 1px solid #686363;
border-radius: 0;
margin-left: -29px;
}
/*bordes del gmail*/
.form-control:focus{
    border-color: #6a0d0d;
}

.login-card-body .input-group .form-control:focus~.input-group-append .input-group-text, .register-card-body .input-group .form-control:focus~.input-group-append .input-group-text{
    border-color: #6a0d0d;
}
.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, .icheck-primary>input:first-child:checked+label::before{
    border-color: #6a0d0d;
}
/*Boton Ingresar*/
#Ingresar{
    background-color: #610404;
    border-color: #610404;
}
/*Boton recuperar*/
#Recuperar{
    background-color: #610404;
    border-color: #610404;
}
/*Boton Registro*/
#Registrar{
    background-color: #610404;
    border-color: #610404;
}
/*guardar*/
.btn-primary {
    color: #ffffff;
    background-color: #6a0d0d;
    border-color: #6a0d0d;
    box-shadow: none;
}
  
.btn-primary:hover {
    color: #ffffff;
    background-color: #441014;
    border-color: #441014;
}
  
.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #961717;
    border-color: #961717;
    box-shadow: none, 0 0 0 0 rgba(0, 0, 0, 0.5);
}
  
.btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #882525;
    border-color: #882525;
}
  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #882525;
    border-color: #882525;
}
  
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #882525;
}
/*barras en Bienvenido Usuario*/
[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid rgb(255, 255, 255);
}
/*tres rayitas en Usuario*/
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

/*Select menu*/
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    background-color: #882525;
    color: #fff;
}
/*borde select menu*/
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #882525;
}
/*click select menu*/
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
    border-color: #882525;
}
/*fondo del seleccionador de calendario*/
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #882525;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*color de fecha reservada en calendario*/
.bootstrap-datetimepicker-widget table td.today:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 0 0 7px 7px;
    border-bottom-color: #882525;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
/*anterior-siguiente-numeros*/
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
/*hover anterior-siguiente-numeros*/
.page-link:hover {
    z-index: 2;
    color: #000000;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*boton eliminar usuario*/
.swal2-styled.swal2-confirm {
    
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #6a0d0d;
    color: #fff;
    font-size: 1.0625em;
}
/*hover: boton eliminar usuario*/
.swal2-styled.swal2-confirm:hover {
    color: #ffffff;
    background-color: #441014;
    border-color: #441014;
}

