body{ padding: 0px; margin: 0px;}
.rojo{ background-color: red; padding: 10px; color:white }
.verde{ background-color: green; padding: 10px; color:white }
.gris{ background-color: gray; padding: 10px; color:white }
.footer{ background-color: #f3f3f3; padding:15px 15px;}
.label-recordar-credenciales{ font-size: 14px; }

/******** HELPERS *********/
